/Du_An_1_QL_BAN_GIAY/3_GUI_PresentationLayer/bin
/Du_An_1_QL_BAN_GIAY/2_BUS_BusinessLayer/bin
/Du_An_1_QL_BAN_GIAY/.vs
/Du_An_1_QL_BAN_GIAY - Copy/.vs
/Du_An_1_QL_BAN_GIAY - Copy/1_DAL_DataAccessLayer/bin
/Du_An_1_QL_BAN_GIAY - Copy/3_GUI_PresentationLayer/bin
